@import "tailwindcss";

:root {
  --red: #CC1100;
  --black: #000000;
  --surface: #111111;
  --white: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
}

::selection {
  background-color: #CC1100;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #CC1100;
  border-radius: 3px;
}
